<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-windowsuser-plugin"
    version="0.1.0">
    <name>UsernamePlugin</name>
    <description>Cordova Windows User plugin</description>
    <repo>https://github.com/antbelliard/cordova-windowsuser-plugin.git</repo>


    <js-module src="www/usernameplugin.js" name="UsernamePlugin">
        <clobbers target="window.usernameplugin" />
    </js-module>

    <!-- windows -->
    <platform name="windows">
        <js-module src="src/windows/usernamepluginProxy.js" name="UserNameProxy">
            <merges target="" />
        </js-module>

        <config-file target="package.appxmanifest" parent="/Package/Capabilities">
            <uap:Capability Name="userAccountInformation" />
        </config-file>
    </platform>

    <!-- other platforms -->

</plugin>
